.webix_winmenu_item{
	position:absolute;
	text-align:center;
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.2);
	cursor:pointer;
}
.webix_winmenu_item:active{
	box-shadow: inset 0px 0px 5px 5px rgba(255,255,255,0.5);
}
.webix_winmenu_item div{
	color: #fff; margin-top:-8px; text-align: left; padding-left:10px;
}
.webix_winmenu{
	position:relative;
	background: transparent;
}